.page--background{
  /* display elements */
  display:flex;
  justify-content: center;
  
  /* text elements */
  color: aliceblue;

  /* background elements */
  background-image: radial-gradient(rgb(21,21,21) 95%, rgb(255,255,255));
  height: 100%;
}

.page--navbar {
  display:flex;
}

.page--container {
  display:flex;
  justify-content: center;
  color:aliceblue;
  background-color: rgb(28, 42, 54);
}

.container--form {
  display:flex;
}

.container--form.element {
  display:flex;
}
